<div class="container">
  <h2><%= @course.name %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @course.name %></td>
        <td><%= @course.total_hours %></td>
      </tr>
    </tbody>
  </table>
</div>